body {
	background: #FFF;
	color: #000;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
    cursor: pointer;
	
}

/* KEYFRAMES */

@keyframes animateBubble {
    0% {
        margin-top: 700px;
    }
    100% {
        margin-top: -75%;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes theEnd {
    0% {
        transform:scale(2.3);
        color:black;
    }
    50% {
        transform: (2.5);
    }
    100% { transform: scale(2.8);
        color: white;
        margin-top: 50%;
    }

}

@keyframes goWhite {
    0% {
        color:black;
    }
    100% {
        color:white;
    }

}

/* ANIMATIONS */

.x1 {
	animation: animateBubble 20s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 60s;
	
	left: 1%;
	top: 5%;
	transform: scale(0.6);
    animation-fill-mode: forwards;
}

.x1:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.8);
}

.x2 {
	animation: animateBubble 18s linear 3, sideWays 3s ease-in-out infinite alternate, goWhite 1s 54s;

	left: 5%;
	top: 80%;
	transform: scale(0.4);
    animation-fill-mode: forwards;
}

.x2:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.6);
}

.x3 {
    animation: animateBubble 22s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 66s;
	
	left: 10%;
	top: 40%;
	transform: scale(0.7);
    animation-fill-mode: forwards;
}

.x3:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.9);
}

.x4 {
	animation: animateBubble 19s linear 3, sideWays 3s ease-in-out infinite alternate, goWhite 1s 57s;
	
	left: 20%;
	top: 0;
	transform: scale(0.3);
    animation-fill-mode: forwards;
}

.x4:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.5);
}

.x5 {
    animation: animateBubble 17s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 51s;
	
	left: 30%;
	top: 50%;
	transform: scale(0.5);
    animation-fill-mode: forwards;
}

.x5:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.7);
}

.x6 {
    animation: animateBubble 21s linear 3, sideWays 3s ease-in-out infinite alternate, goWhite 1s 63s;
	
	left: 50%;
	top: 0%;
	transform: scale(0.8);
    animation-fill-mode: forwards;
}

.x6:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.0);
}

.x7 {
    animation: animateBubble 20s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 60s;
	
	left: 65%;
	top: 70%;
	transform: scale(0.4);
    animation-fill-mode: forwards;
}

.x7:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.6);
}

.x8 {
    animation: animateBubble 22s linear 3, sideWays 3s ease-in-out infinite alternate, goWhite 1s 66s;
	
	left: 80%;
	top: 10%;
	transform: scale(0.3);
    animation-fill-mode: forwards;
}

.x8:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.5);
}

.x9 {
    animation: animateBubble 23s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 69s;
	
	left: 90%;
	top: 50%;
	transform: scale(0.6);
    animation-fill-mode: forwards;
}

.x9:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.8);
}

.x10 {
    animation: animateBubble 21s linear 3, sideWays 3s ease-in-out infinite alternate, goWhite 1s 63s;
	
	left: 80%;
	top: 80%;
	transform: scale(0.3);
    animation-fill-mode: forwards;
}

.x10:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(0.5);
}



.x11 {
    animation: animateBubble 18s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 54s;
	
	left: 20%;
	top: 60%;
	transform: scale(1);
    animation-fill-mode: forwards;
}

.x11:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.2);
}

.x12 {
    animation: animateBubble 23s linear 3, sideWays 3s ease-in-out infinite alternate, goWhite 1s 69s;
	
	left: 20%;
	top: 60%;
	transform: scale(2);
    animation-fill-mode: forwards;
}

.x12:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(2.2);
}


.x13 {
    animation: animateBubble 18s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 54s;
	
	left: 80%;
	top: 40%;
	transform: scale(1.5);
    animation-fill-mode: forwards;
}

.x13:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.7);
}

.x14 {
    animation: animateBubble 22s linear 3, sideWays 3s ease-in-out infinite alternate, goWhite 1s 66s;
	
	left: 50%;
	top: 60%;
	transform: scale(3);
    animation-fill-mode: forwards;
}

.x14:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(3.2);
}

.x15 {
    animation: animateBubble 20s linear 3, sideWays 2s ease-in-out infinite alternate, goWhite 1s 60s;
	
	left: 40%;
	top: 30%;
	transform: scale(1.2);
    animation-fill-mode: forwards;
}

.x15:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.4);
}

.x16 {
    animation: animateBubble 20s linear 2, sideWays 3s ease-in-out infinite alternate, goWhite 1s 40s;
	
	left: 70%;
	top: 10%;
	transform: scale(1.7);
    animation-fill-mode: forwards;
}

.x16:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.9);
}

.x17 {
    animation: animateBubble 21s linear 2, sideWays 2s ease-in-out infinite alternate, goWhite 1s 42s;
	
	left: 10%;
	top: 70%;
	transform: scale(1.3);
    animation-fill-mode: forwards;
}

.x17:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.5);
}

.x18 {
    animation: animateBubble 16s linear 2, sideWays 3s ease-in-out infinite alternate, goWhite 1s 32s;
	
	left: 70%;
	top: 10%;
	transform: scale(.9);
    animation-fill-mode: forwards;
}

.x18:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.1);
}


/*19 is the DIFFERENT bubble!*/

.x19 {
    animation: animateBubble 19s linear 4, sideWays 2s ease-in-out infinite alternate, theEnd .2s linear 63s ;
	
	left: 50%;
	top: 50%;
	transform: scale(2.3);
    animation-fill-mode: forwards;
}

.x19:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(2.5);
}

.x20 {
    animation: animateBubble 23s linear 2, sideWays 3s ease-in-out infinite alternate, goWhite 1s 46s;
	
	left: 90%;
	top: 80%;
	transform: scale(3.3);
    animation-fill-mode: forwards;
}

.x20:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(3.5);
}


.x21 {
	animation: animateBubble 30s linear 1, sideWays 2s ease-in-out infinite alternate, goWhite 1s 30s;
	
	left: 30%;
	top: 50%;
	transform: scale(1.6);
    animation-fill-mode: forwards;
}

.x21:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.8);
}

.x22 {
	animation: animateBubble 28s linear 1, sideWays 3s ease-in-out infinite alternate, goWhite 1s 28s;

	left: 50%;
	top: 10%;
	transform: scale(1.4);
    animation-fill-mode: forwards;
}

.x22:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.6);
}

.x23 {
    animation: animateBubble 27s linear 1, sideWays 2s ease-in-out infinite alternate, goWhite 1s 27s;
	
	left: 10%;
	top: 20%;
	transform: scale(1.7);
    animation-fill-mode: forwards;
}

.x23:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.9);
}

.x24 {
	animation: animateBubble 25s linear 1, sideWays 3s ease-in-out infinite alternate, goWhite 1s 25s;
	
	left: 20%;
	top: 80;
	transform: scale(1.3);
    animation-fill-mode: forwards;
}

.x24:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.5);
}

.x25 {
    animation: animateBubble 26s linear 1, sideWays 2s ease-in-out infinite alternate, goWhite 1s 26s;
	
	left: 30%;
	top: 30%;
	transform: scale(1.5);
    animation-fill-mode: forwards;
}

.x25:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.7);
}

.x26 {
    animation: animateBubble 27s linear 1, sideWays 3s ease-in-out infinite alternate, goWhite 1s 27s;
	
	left: 80%;
	top: 30%;
	transform: scale(1.8);
    animation-fill-mode: forwards;
}

.x26:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(2.0);
}

.x27 {
    animation: animateBubble 28s linear 1, sideWays 2s ease-in-out infinite alternate, goWhite 1s 28s;
	
	left: 55%;
	top: 20%;
	transform: scale(1.4);
    animation-fill-mode: forwards;
}

.x27:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.6);
}

.x28 {
    animation: animateBubble 29s linear 1, sideWays 3s ease-in-out infinite alternate, goWhite 1s 29s;
	
	left: 70%;
	top: 70%;
	transform: scale(1.3);
    animation-fill-mode: forwards;
}

.x28:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.5);
}

.x29 {
    animation: animateBubble 30s linear 1, sideWays 2s ease-in-out infinite alternate, goWhite 1s 30s;
	
	left: 60%;
	top: 40%;
	transform: scale(1.6);
    animation-fill-mode: forwards;
}

.x29:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.8);
}

.x30 {
    animation: animateBubble 31s linear 1, sideWays 3s ease-in-out infinite alternate, goWhite 1s 31s;
	
	left: 10%;
	top: 70%;
	transform: scale(1.3);
    animation-fill-mode: forwards;
}

.x30:hover {
    text-align: inherit;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
    transform: scale(1.5);
}

/* OBJECTS */

.bubble {
    height: 200px;
	position: absolute;
	width: 200px;
}

.bubble:after {
	border-radius: 50%;
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}
